@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Primary Colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral Colors */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --font-size-paragraph: 1.125rem;
}

body {
    background-color: var(--very-dark-blue-main-bg);
    color: var(--white);
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: "Outfit", system-ui;
    color: var(--soft-blue);
    font-size: 1rem;
}

.card {
    border-radius: 0.9375rem;
    max-width: 21.875rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--very-dark-blue-card-bg);
}

.image_container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image_container:hover .overlay {
    opacity: 1;
}

.overlay-icon {
    color: white;
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.375rem;
    color: white;
}

.title p {
    font-size: var(--font-size-paragraph);
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.numbers .flex {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.numbers img {
    height: 1.125rem;
}

.numbers .value {
    color: var(--cyan);
}

.footer {
    border-top: 1px solid var(--very-dark-blue-line);
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer img {
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 100%;
    border: 1px solid white;
}

.footer span.author {
    color: white;
}

.blue_hover:hover, span.blue_hover:hover {
    color: var(--cyan);
    cursor: pointer;
}
